<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146963511-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-146963511-1');
    </script>

    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css" />
    <link rel="stylesheet" href="/main.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" />
</head>

<body>
    <!-- <span class="logo">
        <span class="logo__first">hello</span>
        <span class="logo__second">world</span>
    </span> -->
    <nav id="menu" class="menu">
        <i class="menu__icon"></i>
        <ul class="menu__menu">
            <li class="menu__menu-item"><a href="/" class="menu__menu-item-link">Start</a></li>
        </ul>
    </nav>
    {{ content }}

    <script>

        (function(window, document) {
            window.addEventListener('DOMContentLoaded', function() {
                var menuIcon = document.querySelector('#menu .menu__icon');
                var menu = document.querySelector('#menu .menu__menu');
                menuIcon.addEventListener('click', function() {
                    menuIcon.classList.toggle('menu__icon--open')
                    menu.classList.toggle('menu__menu--show')
                });
            })
        }(window, document));


        /*! Normalized address bar hiding for iOS & Android (c) @scottjehl MIT License */
        (function(win){
            var doc = win.document;
            
            // If there's a hash, or addEventListener is undefined, stop here
            if(!win.navigator.standalone && !location.hash && win.addEventListener ){
                
                //scroll to 1
                win.scrollTo( 0, 1 );
                var scrollTop = 1,
                    getScrollTop = function(){
                        return win.pageYOffset || doc.compatMode === "CSS1Compat" && doc.documentElement.scrollTop || doc.body.scrollTop || 0;
                    },
                
                    //reset to 0 on bodyready, if needed
                    bodycheck = setInterval(function(){
                        if( doc.body ){
                            clearInterval( bodycheck );
                            scrollTop = getScrollTop();
                            win.scrollTo( 0, scrollTop === 1 ? 0 : 1 );
                        }	
                    }, 15 );
                
                win.addEventListener( "load", function(){
                    setTimeout(function(){
                        //at load, if user hasn't scrolled more than 20 or so...
                        if( getScrollTop() < 20 ){
                            //reset to hide addr bar at onload
                            win.scrollTo( 0, scrollTop === 1 ? 0 : 1 );
                        }
                    }, 0);
                }, false );
            }
        })(this);

    </script>
</body>

</html>