---
layout: default
---

<div class="recipe">
    <div class="recipe__image" style="background-image: url('/assets/images/{{ page.image }}')">
        <h1 class="recipe__title">{{ page.title }}</h1>
    </div>
    
    <div class="recipe__description">
        {{ content }}
    </div>

    <div class="recipe__nutrition">
        {{ page.nutrition.kcal }} kcal
    </div>
    
    <div class="recipe__ingredients">
        <h4 class="recipe__ingredients-header">Du behöver</h4>
        <ul class="recipe__ingredients-list">
            {% for ingredient in page.ingredients %}
            <li class="recipe__ingredients-list-item">{{ ingredient }}</li>
            {% endfor %}
        </ul>
    </div>
    
    <div class="recipe__instructions">
        <h4 class="recipe__instructions-header">Gör så här</h4>
        <ol class="recipe__instructions-list">
            {% for method in page.method %}
            <li class="recipe__instructions-list-item">{{ method }}</li>
            {% endfor %}
        </ol>
    </div>
    
</div>

<div id="four" class="side side--four">
    <div class="side__content side__content--horizontally-centered@large side__content--vertically-centered">
        <h1 class="side__heading side__heading--centered">Recept</h1>

        <div class="side__block-container">
            {% for recipe in site.recept %}
            <div class="side__block side__block--no-padding">
                <a href="{{ recipe.url }}">
                    <div class="recipe-preview">
                        <div class="recipe-preview__image" style="background-image: url('/assets/images/{{ recipe.image }}')"></div>
                        <h4 class="recipe-preview__title">{{ recipe.title }} ({{ recipe.nutrition.kcal }} kcal)</h4>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
        <a class="button button--large" href="/recept">
            Visa alla recept
        </a>

    </div>
    <a class="side__to-top" href="#one"></a>

</div>
