---
layout: default
---

<!-- <div class="side" style="background-image: url('https://dietistannicadotcom1.files.wordpress.com/2015/05/c3a4gggrc3b6t-hc3a4lsogrc3b6t-med-c3a4ggvita-lingon.jpg')"> -->
<!-- <div class="side" style="background-image: url('https://www.skandia.se/globalassets/bilder/fokuspunkt/foton/topp/04-till-jobbet.jpg')">
    <div class="side__content side__content--centered"> -->1
        <div class="recipe">
            <div class="recipe__description">
                {{ content }}
            </div>
            
            <div class="recipe__ingredients">
                <!-- <h4 class="recipe__ingredients-header">Du behöver</h4> -->
                <h4 class="recipe__ingredients-header">Lorem ipsum</h4>
                <ul class="recipe__ingredients-list">
                    {% for ingredient in page.ingredients %}
                    <li class="recipe__ingredients-list-item">{{ ingredient }}</li>
                    {% endfor %}
                </ul>
            </div>
            
            <div class="recipe__instructions">
                <!-- <h4 class="recipe__instructions-header">Gör så här</h4> -->
                <h4 class="recipe__instructions-header">Lorem ipsum</h4>
                <ol class="recipe__instructions-list">
                    {% for method in page.method %}
                    <li class="recipe__instructions-list-item">{{ method }}</li>
                    {% endfor %}
                </ol>
            </div>
            
        </div>
    <!-- </div>
    
</div> -->

